@{
    ViewData["Title"] = "Account - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*AddLayout, needs links - Dwilson 8/18*@
@using System.Security.Claims

<h2>Mr. Fix-It</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>
    //Needs links!
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}



