@model MrFixIt.Models.Job

<form class="setActive" action="Activate">
    @Html.HiddenFor(m => m.JobId)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Description)
    <button type="submit">Activate</button>
</form>
<div id="activateResult">halkjehtlkjhrlkht</div>