@{
    ViewData["Title"] = "Workers - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Add layout, change tags to account for layout page - Dwilson 8/18*@
@using System.Security.Claims
@model MrFixIt.Models.Worker

<h2>Create</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>You do not have a complete worker profile. Please create your worker profile</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)


        <input type="submit" value="Register" />
    }
}
